/* Global
================================= */

h1 {
  margin: 0;
  padding-top: 90px;
}

h3 {
  margin-bottom: 0.8em;
}

.container.sk-carousel,
.container.sk-row {
  background-color: #dcdcdc;
}

.sk-row {
  padding-top: 6em;
}

.desc-col {
  padding: 0 2.5em;
}

.mobile-show {
  display: none;
;
}


/* Typography
================================= */

p {
  font-size: 1.2em;
}


/* Navbar
================================= */

.navbar-fixed-top {
  -webkit-font-smoothing: antialiased;
}


/* Carousel
================================= */

.sk-carousel {
  padding-top: 50px;
  padding-left: 0;
  padding-right: 0;
}

.carousel-image {
  width: 1185px;
  height: 670px;
}


/* Section - books
================================= */

.only-for-small {
  display: none;
}

.hideme {
  position: relative;
  opacity: 0;
}

.hideme-left {
  left: -50px;
}

.hideme-right {
  left: 50px;
}

img.book {
  width: 158px;
  height: 239px;
  margin: 0 auto;
  display: block;
  /*   -webkit-transition: 10s;
    transition: 10s; */
}

/* animation classes */

.animate-book {
  opacity: 1;
  left: 0;
}

/* book cover images collection */

.book-coll {
  position: absolute;
  opacity: 0;
}


/* dark tower books */

.book-dt-1 {
  left: 10px;
}

.book-dt-2 {
  left: 70px;
}

.book-dt-3 {
  left: 130px;
}

.book-dt-4 {
  left: 190px;
}

.book-dt-5 {
  left: 250px;
}

.book-dt-6 {
  left: 310px;
}

.book-dt-7 {
  left: 370px;
}


/* short story collections */

.book-ss-1 {
  left: 10px;
}

.book-ss-2 {
  left: 50px;
}

.book-ss-3 {
  left: 90px;
}

.book-ss-4 {
  left: 130px;
}

.book-ss-5 {
  left: 170px;
}

.book-ss-6 {
  left: 210px;
}

.book-ss-7 {
  left: 250px;
}

.book-ss-8 {
  left: 290px;
}

.book-ss-9 {
  left: 330px;
}

.book-ss-10 {
  left: 370px;
}


/* Section - About
================================= */

#about {
  padding-bottom: 5em;
}

#about h1 {
  padding-bottom: 1em;
}

.contact-info {
  list-style: none;
  padding: 1.5em 0 0 0;
  margin: 0;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.facebook a {
  background-image: url('http://gdurl.com/vxIP');
}

.contact-info li.mail a {
  background-image: url('http://gdurl.com/eOhC');
}

.contact-info li.twitter a {
  background-image: url('http://gdurl.com/anj5');
}


/* Footer
================================= */

footer {
  padding-top: 2em;
  background-color: #333;
  color: #fff;
}

.footer-last-line {
  font-size: 0.9em;
  padding-bottom: 2em;
}


/* Responsive CSS
================================= */

@media screen and (max-width: 1199px) {
  /* dark tower books */
  .book-dt-1 {
    left: 10px;
  }
  .book-dt-2 {
    left: 55px;
  }
  .book-dt-3 {
    left: 100px;
  }
  .book-dt-4 {
    left: 145px;
  }
  .book-dt-5 {
    left: 190px;
  }
  .book-dt-6 {
    left: 235px;
  }
  .book-dt-7 {
    left: 280px;
  }
  /* short story collections */
  .book-ss-1 {
    left: 10px;
  }
  .book-ss-2 {
    left: 40px;
  }
  .book-ss-3 {
    left: 70px;
  }
  .book-ss-4 {
    left: 100px;
  }
  .book-ss-5 {
    left: 130px;
  }
  .book-ss-6 {
    left: 160px;
  }
  .book-ss-7 {
    left: 190px;
  }
  .book-ss-8 {
    left: 220px;
  }
  .book-ss-9 {
    left: 250px;
  }
  .book-ss-10 {
    left: 280px;
  }
}

@media screen and (max-width: 991px) {
  /* Global
  ================================= */
  h1 {
    margin: 0;
    padding: 1em 0 1em;
  }
  /* Cancel image animations
  ================================= */
  .hideme {
    opacity: 1;
  }
  .hideme-left {
    left: 0;
  }
  .hideme-right {
    left: 0;
  }
  /* The Man and The Books columns
  ================================= */
  /* show titles */
  .sk-row .only-for-small {
    display: block;
  }
  .sk-row .only-for-large {
    display: none;
  }
  /* Book columns
  ================================= */
  /* reformat book columns */
  .sk-row {
    padding: 0.5em 3em 0 3em;
  }
  .desc-col {
    padding: 0;
  }
  .book-column {
    padding: 0;
  }
  img.book {
    margin: 0;
  }
  #book-dead-zone.sk-row,
  #book-shining.sk-row,
  #book-dark-tower.sk-row,
  #book-duma-key.sk-row,
  #book-short-story.sk-row {
    padding-top: 2em;
  }
  #book-dead-zone .desc-col,
  #book-dark-tower .desc-col,
  #book-short-story .desc-col {
    padding-left: 1em;
  }
  #book-shining .desc-col,
  #book-duma-key .desc-col {
    padding-right: 1em;
  }
  /* reformat Dark Tower books */
  .book-coll {
    opacity: 1;
  }
  .book-dt-1 {
    left: 0 !important;
  }
  .book-dt-2 {
    left: 20px !important;
  }
  .book-dt-3 {
    left: 40px !important;
  }
  .book-dt-4 {
    left: 60px !important;
  }
  .book-dt-5 {
    left: 80px !important;
  }
  .book-dt-6 {
    left: 100px !important;
  }
  .book-dt-7 {
    left: 120px !important;
  }
  /* reformat Short Story books */
  .book-ss-1 {
    left: 0 !important;
  }
  .book-ss-2 {
    left: 20px !important;
  }
  .book-ss-3 {
    left: 40px !important;
  }
  .book-ss-4 {
    left: 60px !important;
  }
  .book-ss-5 {
    left: 80px !important;
  }
  .book-ss-6 {
    left: 100px !important;
  }
  .book-ss-7 {
    left: 120px !important;
  }
  .book-ss-8 {
    left: 140px !important;
  }
  .book-ss-9 {
    left: 160px !important;
  }
  .book-ss-10 {
    left: 180px !important;
  }
}

@media screen and (max-width: 767px) {
  .mobile-show {
    display: block;
  }
  .mobile-hide {
    display: none;
  }
  img.book {
    margin: 0 auto;
  }
  .book-column {
    background-color: #d1d1d1;
    margin-bottom: 2em;
  }
  #book-dead-zone .desc-col,
  #book-dark-tower .desc-col,
  #book-short-story .desc-col,
  #book-shining .desc-col,
  #book-duma-key .desc-col {
    padding: 0;
  }
  #book-dark-tower .book-column,
  #book-short-story .book-column {
    height: 239px;
  }
  .dt-centering-div,
  .ss-centering-div {
    position: relative;
    height: 239px;
    margin: 0 auto;
  }
  .dt-centering-div {
    width: 280px;
  }
  .ss-centering-div {
    width: 340px;
  }
}