
/* Global
================================= */

h1 {
  margin: 0;
  padding-top: 90px;
}
.container.sk-carousel,
.container.sk-row {
  background-color: #dcdcdc;
}
.sk-row {
  padding-top: 6em;
}
.desc-col {
  padding: 0 2.5em;
}
.mobile-show {
  display: none;;
}

/* Typography
================================= */

p {
  font-size: 1.2em;
}


/* Carousel
================================= */

.sk-carousel {
  padding-top: 50px;
  padding-left: 0;
  padding-right: 0;
}

/*.carousel-image {*/
  /*max-width: 1185px;*/
  /*max-height: 670px;*/
/*}*/

/* Section - books
================================= */

.only-for-small {
  display: none;
}
.hideme {
  position: relative;
  opacity: 0;
}
.hideme-left {
  left: -50px;
}
.hideme-right {
  left: 50px;
}
img.book {
  width: 158px;
  height: 239px;
  margin: 0 auto;
  display: block;
}
/* book cover images collection */
.book-coll {
  position: absolute;
  opacity: 0;
}
/* dark tower books */
.book-dt-1 {
   left: 10px;
 }
.book-dt-2 {
  left: 70px;
}
.book-dt-3 {
  left: 130px;
}
.book-dt-4 {
  left: 190px;
}
.book-dt-5 {
  left: 250px;
}
.book-dt-6 {
  left: 310px;
}
.book-dt-7 {
  left: 370px;
}
/* short story collections */
.book-ss-1 {
  left: 10px;
}
.book-ss-2 {
  left: 50px;
}
.book-ss-3 {
  left: 90px;
}
.book-ss-4 {
  left: 130px;
}
.book-ss-5 {
  left: 170px;
}
.book-ss-6 {
  left: 210px;
}
.book-ss-7 {
  left: 250px;
}
.book-ss-8 {
  left: 290px;
}
.book-ss-9 {
  left: 330px;
}
.book-ss-10 {
  left: 370px;
}

/* Section - About
================================= */

#about {
  padding-bottom: 5em;
}
#about h1 {
  padding-bottom: 1em;
}
.contact-info {
  list-style: none;
  padding: 1.5em 0 0 0;
  margin: 0;
}
.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}
.contact-info li.facebook a {
  background-image: url('../img/contact_facebook.png');
}
.contact-info li.mail a {
  background-image: url('../img/contact_mail.png');
}
.contact-info li.twitter a {
  background-image: url('../img/contact_twitter-wrap.png');
}

/* Footer
================================= */

footer {
  padding-top: 2em;
  background-color: #333;
  color: #fff;
}
.footer-last-line {
  font-size: 0.9em;
  padding-bottom: 2em;
}