/* Typography
================================= */

.sk-the-man-right,
.sk-the-books-1-left {
  font-size: larger;
}

/* Carousel
================================= */

.sk-carousel {
  padding-top: 50px;
}

/* Part - The Man
================================= */

.sk-the-man,
.sk-the-books {
  padding-top: 6em;
}

.sk-the-man-left h2 {
  margin: 0;
  padding-top: 90px;
}

.sk-the-books-1-right h2 {
  margin: 0;
  padding-top: 100px;
}