@media screen and (max-width: 1199px) {

  /* dark tower books */
  .book-dt-1 {
    left: 10px;
  }
  .book-dt-2 {
    left: 55px;
  }
  .book-dt-3 {
    left: 100px;
  }
  .book-dt-4 {
    left: 145px;
  }
  .book-dt-5 {
    left: 190px;
  }
  .book-dt-6 {
    left: 235px;
  }
  .book-dt-7 {
    left: 280px;
  }
  /* short story collections */
  .book-ss-1 {
    left: 10px;
  }
  .book-ss-2 {
    left: 40px;
  }
  .book-ss-3 {
    left: 70px;
  }
  .book-ss-4 {
    left: 100px;
  }
  .book-ss-5 {
    left: 130px;
  }
  .book-ss-6 {
    left: 160px;
  }
  .book-ss-7 {
    left: 190px;
  }
  .book-ss-8 {
    left: 220px;
  }
  .book-ss-9 {
    left: 250px;
  }
  .book-ss-10 {
    left: 280px;
  }

}