@media screen and (max-width: 1199px) {

  /* dark tower books */
  .book-dt-1 {
    left: 10px;
  }
  .book-dt-2 {
    left: 55px;
  }
  .book-dt-3 {
    left: 100px;
  }
  .book-dt-4 {
    left: 145px;
  }
  .book-dt-5 {
    left: 190px;
  }
  .book-dt-6 {
    left: 235px;
  }
  .book-dt-7 {
    left: 280px;
  }
  /* short story collections */
  .book-ss-1 {
    left: 10px;
  }
  .book-ss-2 {
    left: 40px;
  }
  .book-ss-3 {
    left: 70px;
  }
  .book-ss-4 {
    left: 100px;
  }
  .book-ss-5 {
    left: 130px;
  }
  .book-ss-6 {
    left: 160px;
  }
  .book-ss-7 {
    left: 190px;
  }
  .book-ss-8 {
    left: 220px;
  }
  .book-ss-9 {
    left: 250px;
  }
  .book-ss-10 {
    left: 280px;
  }

}

@media screen and (max-width: 991px) {

  /* Global
  ================================= */

  h1 {
    margin: 0;
    padding: 1em 0 1em;
  }
  /*.book-column {*/
    /*margin: 0;*/
    /*padding: 3em 0 2em;*/
    /*height: auto;*/
  /*}*/
  .sk-row {
    padding-top: 0;
  }
  .desc-col {
    padding: 0 2.5em;
  }

  /* Book columns
  ================================= */

  .sk-row .only-for-small {
    display: block;
  }
  .sk-row .only-for-large {
    display: none;
  }
  #book-dead-zone,
  #book-shining {
    padding: 3em 2.5em;
  }
  #book-dead-zone .desc-col {
    padding: 0 1.2em;
  }
  /*#the-books .row {*/
    /*display: table;*/
  /*}*/
  /*#the-books .row div:first-child {*/
    /*display: table-footer-group;*/
  /*}*/
  /*#the-books .row div:last-child {*/
    /*display: table-header-group;*/
  /*}*/
  /*#the-books .row div:last-child p {*/
    /*padding-left: 2.5em;*/
    /*padding-right: 2.5em;*/
  /*}*/

}