@media screen and (max-width: 1199px) {

  /* dark tower books */
  .book-dt-1 {
    left: 10px;
  }
  .book-dt-2 {
    left: 55px;
  }
  .book-dt-3 {
    left: 100px;
  }
  .book-dt-4 {
    left: 145px;
  }
  .book-dt-5 {
    left: 190px;
  }
  .book-dt-6 {
    left: 235px;
  }
  .book-dt-7 {
    left: 280px;
  }
  /* short story collections */
  .book-ss-1 {
    left: 10px;
  }
  .book-ss-2 {
    left: 40px;
  }
  .book-ss-3 {
    left: 70px;
  }
  .book-ss-4 {
    left: 100px;
  }
  .book-ss-5 {
    left: 130px;
  }
  .book-ss-6 {
    left: 160px;
  }
  .book-ss-7 {
    left: 190px;
  }
  .book-ss-8 {
    left: 220px;
  }
  .book-ss-9 {
    left: 250px;
  }
  .book-ss-10 {
    left: 280px;
  }

}

@media screen and (max-width: 991px) {

  /* Global
  ================================= */

  h1 {
    margin: 0;
    padding: 1em 0 1em;
  }

  /* Cancel image animations
  ================================= */

  .hideme {
    opacity: 1;
  }
  .hideme-left {
    left: 0;
  }
  .hideme-right {
    left: 0;
  }

  /* The Man and The Books columns
  ================================= */

  /* show titles */
  .sk-row .only-for-small {
    display: block;
  }
  .sk-row .only-for-large {
    display: none;
  }

  /* Book columns
  ================================= */

  /* reformat book columns */
  .sk-row {
    padding: 0.5em 3em 0 3em;
  }
  .desc-col {
    padding: 0;
  }
  .book-column {
    padding: 0;
  }
  img.book {
    margin: 0;
  }
  #book-dead-zone.sk-row,
  #book-shining.sk-row,
  #book-dark-tower.sk-row {
    padding-top: 2em;
  }
  #book-dead-zone .desc-col,
  #book-dark-tower .desc-col {
    padding-left: 1em;
  }
  /* reformat Dark Tower books */
  #book-shining .desc-col {
    padding-right: 1em;
  }
  .book-coll {
    opacity: 1;
  }
  .book-dt-1 {
    left: 0;
  }
  .book-dt-2 {
    left: 10px;
  }
  .book-dt-3 {
    left: 20px;
  }
  .book-dt-4 {
    left: 30px;
  }
  .book-dt-5 {
    left: 40px;
  }
  .book-dt-6 {
    left: 50px;
  }
  .book-dt-7 {
    left: 60px;
  }
  /*#book-dead-zone .desc-col {*/
    /*padding-right: 2em;*/
  /*}*/
  /*#book-dead-zone,*/
  /*#book-shining {*/
    /*padding: 3em 2em 0 2em;*/
  /*}*/
  /*#book-dead-zone .desc-col,*/
  /*#book-shining .desc-col {*/
    /*padding: 0 1.1em;*/
  /*}*/
  /*#the-books .row {*/
    /*display: table;*/
  /*}*/
  /*#the-books .row div:first-child {*/
    /*display: table-footer-group;*/
  /*}*/
  /*#the-books .row div:last-child {*/
    /*display: table-header-group;*/
  /*}*/
  /*#the-books .row div:last-child p {*/
    /*padding-left: 2.5em;*/
    /*padding-right: 2.5em;*/
  /*}*/

}